{% extends 'base.html' %}

{% block content %}
<h1>MOVIE</h1>
<div id="app">
  <!-- <p v-for="movie in movies" v-html="movie.title">{{ movie.title }}</p> -->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div v-for="movie in movies" class="carousel-item">
          <img :src="movie.poster_path" class="d-block w-100" alt="...">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" :src="videoUrl" allowfullscreen>
    </iframe>
  </div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  const API_KEY = 'AIzaSyA3AI1maKoEbHFJ189Qeww-AzfeZR4PC-g'
  const API_URL = 'https://www.googleapis.com/youtube/v3/search'

  const app = new Vue({
    el: '#app',
    data: {
      movies: Array,
      movieTrailier: null,
      firstMovie: null,
      videoUrl: null,
    },
    methods: {
      boxOffice() {
        axios.get('https://api.themoviedb.org/3/movie/now_playing?api_key=f13f39298b386f7fec21be0041fc1451&language=ko-KR&page=1&region=kr')
          .then(response => {
            this.movies = response.data["results"]
            this.firstMovie = response.data['results'][0].original_title
            response.data["results"].forEach(item => {
              item.poster_path = `https://image.tmdb.org/t/p/original${item.poster_path}`
              console.log(item.poster_path)
            })
            axios.get(API_URL, {
              params: {
                key: API_KEY,
                part: 'snippet',
                type: 'video',
                q: this.firstMovie
              }
            })
              .then(response => {
                
                this.videoUrl = `https://www.youtube.com/embed/${response.data.items[0].id.videoId}`
              })
              .catch(error => {
              })
          })
      },
    },
    computed: {
      posterUrl() {
        return 
      }
    },
    mounted() {
        this.boxOffice()
    }
  })
</script>
{% endblock %}