{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'stylesheets/index.css' %}">

<div id="app">
  <div class="main">
    <div class="logo logo1">J</div><div class="logo logo2">J</div><br>
    <div class="logo logo3">O</div><div class="logo logo4">O</div><div class="logo logo5">B O X</div>
  </div>
  <div class="recommend">
    <div class="recommend_in">

      <h2>재미있는 영화들을 지금 바로 만나보세요!</h2>
      {% if user.is_authenticated %}
      <a href="{% url 'movies:movie_list' %}"><button type="button" class="btn btn-secondary">GO</button></a>
      {% else %}
      <a href="{% url 'accounts:login' %}"><button type="button" class="btn btn-secondary">GO</button></a>
      {% endif %}

    </div>
  </div>

  <div id="carouselExampleIndicators" class="carousel slide boxoffice" data-ride="carousel">
    <h1>BOX OFFICE</h1>
    <hr>
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item row" style="width: auto;" v-for="fourPosterUrls in posterUrls">
        <a href="" v-for="posterUrl in fourPosterUrls[0]">
          <img :src="posterUrl" class="col-3 poster" alt="...">
        </a>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="trailer">
    <h1>TRAILER</h1>
    <hr>
    <div class="row">
      <div class="embed-responsive embed-responsive-16by9 trailer-video col-8">
        <iframe class="embed-responsive-item" :src="videoUrl" allowfullscreen>
        </iframe>
      </div>
      <div class="trailer-content col-4" >
        <h1 v-html="firstMovie.title"></h1>
        <label for="release_date">개봉일: <span name="release_date" v-html="firstMovie.release_date"></span></label><br>
        <label for="votes">평점: <span name="votes" v-html="firstMovie.vote_average"></span></label>
        <p v-html="firstMovie.overview"></p>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function () {
    $('#carouselExampleIndicators').find('.carousel-item').first().addClass('active');
  });

  const API_KEY = 'AIzaSyA3AI1maKoEbHFJ189Qeww-AzfeZR4PC-g'
  const API_URL = 'https://www.googleapis.com/youtube/v3/search'
  const app = new Vue({

    el: '#app',
    data: {
      movies: Array,
      posterUrls: [[], [], [], [], []],
      firstMovie: null,
      videoUrl: null,
    },
    methods: {
      boxOffice() {
        axios.get('https://api.themoviedb.org/3/movie/now_playing?api_key=f13f39298b386f7fec21be0041fc1451&language=ko-KR&page=1&region=kr')
          .then(response => {
            this.movies = response.data["results"]
            this.firstMovie = response.data['results'][0]
            response.data["results"].forEach(item => {
              item.poster_path = `https://image.tmdb.org/t/p/w300${item.poster_path}`
            })
            for (var i = 0; i < 5; i++) {
              temp = Array();
              for (var j = i * 4; j < i * 4 + 4; j++) {
                temp.push(this.movies[j].poster_path)
              }
              this.posterUrls[i].push(temp)
            }
            axios.get(API_URL, {
              params: {
                key: API_KEY,
                part: 'snippet',
                type: 'video',
                q: this.firstMovie.original_title + 'trailer'
              }
            })
              .then(response => {
                this.videoUrl = `https://www.youtube.com/embed/${response.data.items[0].id.videoId}`
              })
              .catch(error => console.log(error))
          })
      },
    },
    computed: {
    },
    mounted() {
      this.boxOffice()
    }
  })
</script>

<style>
/* #app{
  margin: 0 auto;
  width: 1200px;
} */
.main{
  color: antiquewhite;
  
  padding-top: 10px;
  text-align: left;
  justify-content: center;
  height: 400px;
  vertical-align: middle;
  /* padding: 150px 0; */
  border: antiquewhite solid 5px;
}

.recommend{
  justify-content:center;
  height: 100px;
  vertical-align: middle;

  background-color:antiquewhite

}
.recommend_in{
  text-align: center;
}
.logo{
  font-size: 50px;
  display: inline-block;
  margin: -10px 20px;
}
.logo1{
  margin-left: 25px;
  margin-right: 30px;
}
.logo2{
  margin-right: 210px;
}

.main .title1{
  margin-right: 140px;
}
.boxoffice{
  text-align: center;
  margin: 100px 0;
  /* border: 2px solid black; */
  /* background-color:darkgray; */
}

.trailer{
  /* display: grid; */
  text-align: center;
  /* grid-template-columns: 60% 1fr; */
  margin-bottom: 100px;

}

.trailer-content{
  text-align: left;
  padding-left: 10px;

}

</style>
{% endblock %}