{% extends 'base.html' %}

{% block content %}
<h1>Movie List</h1>
{% for movie in movies %}
<div class="movie-container">
  <img class="movie-poster" src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" alt="">
  <div class="movie-star-review starRev {{movie.id}}" id="event-{{movie.id}}">
    <span data-id="{{ movie.id }}" class="star half starR1" data-value="0.5">별1_왼쪽</span>
    <span data-id="{{ movie.id }}" class="star one starR2" data-value="1">별1_오른쪽</span>
    <span data-id="{{ movie.id }}" class="star one_half starR1" data-value="1.5">별2_왼쪽</span>
    <span data-id="{{ movie.id }}" class="star two starR2" data-value="2">별2_오른쪽</span>
    <span data-id="{{ movie.id }}" class="star two_half starR1" data-value="2.5">별3_왼쪽</span>
    <span data-id="{{ movie.id }}" class="star three starR2" data-value="3">별3_오른쪽</span>
    <span data-id="{{ movie.id }}" class="star three_half starR1" data-value="3.5">별4_왼쪽</span>
    <span data-id="{{ movie.id }}" class="star four starR2" data-value="4">별4_오른쪽</span>
    <span data-id="{{ movie.id }}" class="star four_half starR1" data-value="4.5">별5_왼쪽</span>
    <span data-id="{{ movie.id }}" class="star five starR2" data-value="5">별5_오른쪽</span>
  </div>
</div>
{% endfor %}

<script>
  $(document).ready(function () {
    $('.starRev span').on('mouseenter', function () {
      $(this).parent().children('span').removeClass('on');
      $(this).addClass('on').prevAll('span').addClass('on');
    });

    $('.starRev span').on('mouseleave', function () {
      $(this).parent().children('span').removeClass('on');
    });
  })

  

  const starButtons = document.querySelectorAll('.star')
  starButtons.forEach(function (starButton) {
    starButton.addEventListener('click', function (event) {
      console.log(event.target.dataset)
      const starPoint = event.target.dataset.value
      const movieId = event.target.dataset.id
      $('#event-movieId span').click(function () {
        $('#event-movieId span').off();
        $(this).parent().children('span').removeClass('on');
        $(this).addClass('on').prevAll('span').addClass('on');
        return false;
      });
      console.log(movieId, starPoint)
      axios.get(`/movies/list/${movieId}/${starPoint}/`)
        .then(response => {
          console.log(response)
        })
        .catch(error => {

        })
    })
  })
</script>

<style>
  img {
    max-width: 200px;
  }

  .starR1 {
    background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat -52px 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float: left;
    text-indent: -9999px;
    cursor: pointer;
  }

  .starR2 {
    background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float: left;
    text-indent: -9999px;
    cursor: pointer;
  }

  .starR1.on {
    background-position: 0 0;
  }

  .starR2.on {
    background-position: -15px 0;
  }
</style>
{% endblock %}