{% extends 'base.html' %}

{% block content %}
<div class="container wrapper">
  <h1>Movie List</h1>
  <div class="row">
    {% for movie in movies %}
    <div class="movie-container col-3">
      <img class="movie-poster" src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" alt="">
      <div class="darkness"></div>
      <div class="hover-box">
        <h5>{{ movie.title }}</h5>
        <a href="{% url 'movies:detail' movie.pk %}">상세보기</a>
        <div class="starRev {{movie.id}}" id="event-{{movie.id}}">
          <span id="event-{{movie.id}}" data-id="{{ movie.id }}" class="star half starR1" data-value="0.5">별1_왼쪽</span>
          <span id="event-{{movie.id}}" data-id="{{ movie.id }}" class="star one starR2" data-value="1">별1_오른쪽</span>
          <span id="event-{{movie.id}}" data-id="{{ movie.id }}" class="star one_half starR1" data-value="1.5">별2_왼쪽</span>
          <span id="event-{{movie.id}}" data-id="{{ movie.id }}" class="star two starR2" data-value="2">별2_오른쪽</span>
          <span id="event-{{movie.id}}" data-id="{{ movie.id }}" class="star two_half starR1" data-value="2.5">별3_왼쪽</span>
          <span id="event-{{movie.id}}" data-id="{{ movie.id }}" class="star three starR2" data-value="3">별3_오른쪽</span>
          <span id="event-{{movie.id}}" data-id="{{ movie.id }}" class="star three_half starR1" data-value="3.5">별4_왼쪽</span>
          <span id="event-{{movie.id}}" data-id="{{ movie.id }}" class="star four starR2" data-value="4">별4_오른쪽</span>
          <span id="event-{{movie.id}}" data-id="{{ movie.id }}" class="star four_half starR1" data-value="4.5">별5_왼쪽</span>
          <span id="event-{{movie.id}}" data-id="{{ movie.id }}" class="star five starR2" data-value="5">별5_오른쪽</span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script>
  $(document).ready(function () {
    $('.starRev span').on('mouseenter', function () {
      $(this).parent().children('span').removeClass('on');
      $(this).addClass('on').prevAll('span').addClass('on');
    });
    $('.starRev span').on('mouseleave', function () {
      $(this).parent().children('span').removeClass('on');
    });
  })

  
  $('.starRev span').click(function () {
    var click_id = $(this).attr('id');
    $('.starRev #'+click_id).off();
    $(this).parent().children('span').removeClass('on');
    $(this).addClass('on').prevAll('span').addClass('on');
    return false;
  });
  
  const starButtons = document.querySelectorAll('.star')
  starButtons.forEach(function (starButton) {
    starButton.addEventListener('click', function (event) {
      console.log(event.target.dataset)
      const starPoint = event.target.dataset.value
      const movieId = event.target.dataset.id
      console.log(movieId, starPoint)
      axios.get(`/movies/list/${movieId}/${starPoint}/`)
        .then(response => {
          console.log(response)
        })
        .catch(error => {

        })
    })
  })
</script>

<style>
  .starRev{
    margin: 0 52px;
  }

  .starR1 {
    background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat -52px 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float: left;
    text-indent: -9999px;
    cursor: pointer;
  }

  .starR2 {
    background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float: left;
    text-indent: -9999px;
    cursor: pointer;
  }

  .starR1.on {
    background-position: 0 0;
  }

  .starR2.on {
    background-position: -15px 0;
  }

  .movie-container {
    height: 380px;
    width: 250px;
    margin-bottom: 20px;
  }

  .movie-container img {
    position:absolute;
    width:inherit;
    height:inherit;
    box-shadow: 0 1px 10px rgba(0,0,0,0.4);
  }

  .darkness {
    position:absolute;
    width:inherit;
    height:inherit;
    background:#000000;
    /* 추가된 부분 */
    opacity:0;
    transition:all .6s linear;
  }

  .hover-box {
    position:absolute;
    bottom:20px;
    left:0;
    padding: 0 15px;
    text-align:center;
    justify-content: center;
    /* 추가된 부분 */
    opacity:0;

    transition:all .3s linear;
  }

  .hover-box h5{
    color: white;
  }

  /* 추가된 부분 */
  .movie-container:hover .darkness{
    opacity:0.8;
  }

  /* 추가된 부분 */
  .movie-container:hover .hover-box {
    opacity:1;
    transform:scale(1);
  }

</style>
{% endblock %}