{% extends 'base.html' %}

{% block content %}
<div id="app">
  <div class="container wrapper">
    <h1>JOJOBOX</h1>
    <div class="row">
      <div class="movie-container col-3" v-for="movie in movies">
        <img class="movie-poster" :src="movie.fields.poster_path" alt="">
        <div class="darkness"></div>
        <div class="hover-box">
          <h5>[[ movie.fields.title ]]</h5>
          <a :href="movie.fields.detail_url">상세보기</a>
          <div class="starRev" :id="movie.pk">
            <span :id="movie.fields.event_id" @click="addRating" :data-id="movie.pk" class="star starR1"
              data-value="0.5">별1_왼쪽</span>
            <span :id="movie.fields.event_id" @click="addRating" :data-id="movie.pk" class="star starR2" data-value="1">별1_오른쪽</span>
            <span :id="movie.fields.event_id" @click="addRating" :data-id="movie.pk" class="star starR1"
              data-value="1.5">별2_왼쪽</span>
            <span :id="movie.fields.event_id" @click="addRating" :data-id="movie.pk" class="star starR2" data-value="2">별2_오른쪽</span>
            <span :id="movie.fields.event_id" @click="addRating" :data-id="movie.pk" class="star starR1"
              data-value="2.5">별3_왼쪽</span>
            <span :id="movie.fields.event_id" @click="addRating" :data-id="movie.pk" class="star starR2" data-value="3">별3_오른쪽</span>
            <span :id="movie.fields.event_id" @click="addRating" :data-id="movie.pk" class="star starR1"
              data-value="3.5">별4_왼쪽</span>
            <span :id="movie.fields.event_id" @click="addRating" :data-id="movie.pk" class="star starR2" data-value="4">별4_오른쪽</span>
            <span :id="movie.fields.event_id" @click="addRating" :data-id="movie.pk" class="star starR1"
              data-value="4.5">별5_왼쪽</span>
            <span :id="movie.fields.event_id" @click="addRating" :data-id="movie.pk" class="star starR2" data-value="5">별5_오른쪽</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="bottomSensor"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/scrollmonitor/1.2.0/scrollMonitor.js"></script>
<script>
  const app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#app',
    data: {
      movies: [],
      page: 0,
    },
    methods: {
      getMovies: function () {
        axios.get(`/movies/list/get_movies/${this.page}`)
          .then(res => {
            console.log(this.page)
            this.page = this.page + 1
            res.data.forEach(item => {
              console.log(item)
              item.fields["detail_url"] = `/movies/${item.pk}`
              item.fields["event_id"] = `event-${item.pk}`
              item.fields.poster_path = `https://image.tmdb.org/t/p/w300${item.fields.poster_path}`
            })
            this.movies.push(...res.data)
            console.log('data가져옴')
          })
          .catch(err => console.log(err))
      },
      addScrollWatcher: function () {
        const bottomSensor = document.querySelector('#bottomSensor')
        const watcher = scrollMonitor.create(bottomSensor)
        watcher.enterViewport(() => {
          console.log('감지')
          this.getMovies()
        })
      },
      loadUntilViewportIsFull: function () {
        const bottomSensor = document.querySelector('#bottomSensor')
        const watcher = scrollMonitor.create(bottomSensor)
        console.log('꽉찼아용')
        if (watcher.isFullyInViewport) {
          this.getMovies()
        }
      },
      addRating: function () {
        const starPoint = event.target.dataset.value
        const movieId = event.target.dataset.id
        console.log(starPoint)
        axios.get(`/movies/list/${movieId}/${starPoint}/`)
          .then(response => {
          })
          .catch(error => {

          })

      },
      displayStar: function () {
      }
    },

    created: function () {
      this.getMovies()
      console.log('created')
    },

    mounted: function () {
      this.addScrollWatcher()
      console.log('mounted')
    },

    updated: function () {
      console.log('updated')
      this.loadUntilViewportIsFull()
      $(document).ready(function () {
        $('.starRev span').on('mouseenter', function () {
          $(this).parent().children('span').removeClass('on');
          $(this).addClass('on').prevAll('span').addClass('on');
        });
        $('.starRev span').on('mouseleave', function () {
          $(this).parent().children('span').removeClass('on');
        });
      });
      $('.starRev span').on('click', function () {
        var click_id = $(this).attr('id');
        $('.starRev #' + click_id).off();
        $(this).parent().children('span').removeClass('on');
        $(this).addClass('on').prevAll('span').addClass('on');
      });
    },
  })
</script>

<style>
  h1{
    font-size: 8rem;
    color:antiquewhite;
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
  }
  .starRev {
    margin: 0 52px;
  }

  .starR1 {
    background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat -52px 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float: left;
    text-indent: -9999px;
    cursor: pointer;
  }

  .starR2 {
    background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float: left;
    text-indent: -9999px;
    cursor: pointer;
  }

  .starR1.on {
    background-position: 0 0;
  }

  .starR2.on {
    background-position: -15px 0;
  }

  .movie-container {
    height: 380px;
    width: 250px;
    margin-bottom: 20px;
  }

  .movie-container img {
    position: absolute;
    width: inherit;
    height: inherit;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
  }

  .darkness {
    position: absolute;
    width: inherit;
    height: inherit;
    background: #000000;
    /* 추가된 부분 */
    opacity: 0;
    transition: all .6s linear;
  }

  .hover-box {
    position: absolute;
    bottom: 20px;
    left: 0;
    padding: 0 15px;
    text-align: center;
    justify-content: center;
    /* 추가된 부분 */
    opacity: 0;

    transition: all .3s linear;
  }

  .hover-box h5 {
    color: white;
  }

  /* 추가된 부분 */
  .movie-container:hover .darkness {
    opacity: 0.8;
  }

  /* 추가된 부분 */
  .movie-container:hover .hover-box {
    opacity: 1;
    transform: scale(1);
  }

  #bottomSensor {
    height: 10px;
  }
</style>
{% endblock %}