{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-center">
        <h2>{{ movie.title }}</h2>
    </div>
    <hr>
    <div class="container">
        <div class="row no-gutters">
            <div class="col-4">
                <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" class="card-img" alt="영화 포스터">
            </div>
            <div class="col">
                <div class="card-body">
                    <p>장르 : </p>
                    {% for genre in movie.genres.all %}
                        <p>{{ genre.name }}</p>
                    {% endfor %}
                    <p>개봉일 : {{ movie.release_date }}</p>
                    <p>줄거리 : {{ movie.overview }}</p>
                </div>
            </div>
        </div>
        <!-- 영화 추천 4개 / for문으로 4개 -->
        <div class="d-flex justify-content-center">
            <h3>평점순 추천</h3>
        </div>
        <div class="row">
            {% for recommendation in recommendation_list %}
            <div class="col-3">
                <p>{{ recommendation.title }} {{ recommendation.vote_average }}</p>
                <img src="https://image.tmdb.org/t/p/original/{{ recommendation.poster_path }}" class="card-img" alt="영화 포스터">
            </div>
            {% endfor %}

        <div class="d-flex justify-content-center">
            <h3>장르별 추천</h3>
        </div>
        <div class="row">
            {% for recommendation in recommend_list1 %}
            <div class="col-3">
                <p>{{ recommendation.title }} {{ recommendation.vote_average }}</p>
                <img src="https://image.tmdb.org/t/p/original/{{ recommendation.poster_path }}" class="card-img" alt="영화 포스터">
            </div>
            {% endfor %}

            {% if genre_cnt >= 1 %}

            {% for recommendation in recommend_list2 %}
            <div class="col-3">
                <p>{{ recommendation.title }} {{ recommendation.vote_average }}</p>
                <img src="https://image.tmdb.org/t/p/original/{{ recommendation2.poster_path }}" class="card-img" alt="영화 포스터">
            </div>
            {% endfor %}

            {% elif genre_cnt >= 2 %}            

            {% for recommendation in recommend_list3 %}
            <div class="col-3">
                <p>{{ recommendation.title }} {{ recommendation.vote_average }}</p>
                <img src="https://image.tmdb.org/t/p/original/{{ recommendation2.poster_path }}" class="card-img" alt="영화 포스터">
            </div>
            {% endfor %}
            {% endif %}
        </div>        
    </div>
{% endblock %}