<script src="https://cdnjs.cloudflare.com/ajax/libs/scrollmonitor/1.2.0/scrollMonitor.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      movies: [],
      page: 0,
    },
    methods: {
      getMovies: function () {
        axios.get('/movies/list/get_movies_json/', this.page++)
          .then(res => {
            console.log(res.data)
            this.photos = [...this.movies, ...res.data]
          })
          .catch(err => console.log(err))
      },
      addScrollWatcher: function () {
        const bottomSensor = document.querySelector('#bottomSensor')
        const watcher = scrollMonitor.create(bottomSensor)
        watcher.enterViewport(() => {
          setTimeout(() => {
            this.getMovies()
          }, 500)
        })
      },
      scrollToTop: function () {
        scroll(0, 0)
      },
      loadUntilViewportIsFull: function () {
        const bottomSensor = document.querySelector('#bottomSensor')
        const watcher = scrollMonitor.create(bottomSensor)
        if (watcher.isFullyInViewport) {
          this.getMovies()
        }
      }
    },
    
    created: function () {
      this.getMovies()
    },

    mounted: function () {
      this.addScrollWatcher()
    },

    updated: function () {
      this.loadUntilViewportIsFull()
    },
  })
</script>