{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>자유 게시판</h2>
    <div class="board-search">
        <form action="" method="get" id="search_form">
            <div class="form-row align-items-center justify-content-end">
                <select name="search_type" id="search_type">
                    {% if 'content' in selected_val  %}
                    <option value="title">제목</option>;
                    <option value="content" selected>내용</option>;
                    {% else %}
                    <option value="title" selected>제목</option>;
                    <option value="content">내용</option>;
                    {% endif %}
                </select>
                <div class="col-sm-3 my-1">
                    <input type="text" class="form-control" placeholder="검색하세요" name="search_key">
                </div>
                <div class="col-auto my-1">
                    <button type="submit" class="btn btn-secondary">찾기</button>
                </div>
            </div>
        </form>
    </div>

    <div class="section">
        <table class="table">
            <colgroup>
                <col width="100">
                <col width="*">
                <col width="150">
                <col width="150">
            </colgroup>
            <thead>
              <tr>
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">등록일</th>
              </tr>
            </thead>
            <tbody>
                {% for article in page_obj %}
                <tr>
                    <th scope="row">{{ article.pk }}</th>
                    <td class="table_title"><a class="title_link" href="{% url 'community:detail' article.pk %}">{{ article.title }}</a></td>
                    <td>{{ article.user }}</td>
                    <td>{{ article.created_at|date:"Y-m-d" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if request.user.is_authenticated %}
    <div class="create_btn">
        <a href="{% url 'community:create' %}"><button type="button" class="btn btn-primary">글쓰기</button></a>
    </div>
    {% endif %}
    <nav>
        <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">&laquo; 처음</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                    </li>
                {% endif %}

                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">{{ page_obj.number }}<span class="sr-only">(current)</span></a>
                </li>
    
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                </li>
                <li>
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">끝 &raquo;</a>
                </li>
                {% endif %}
        </ul>
    </nav>
</div>

<style>
.container {
    max-width: 1200px;
}
.table {
    display: table;
    box-sizing: border-box;
    width: 100% ;
    border-spacing: 2px;
    text-align: center;
    line-height: 20px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 10px 0 10px;
}
.table_title {
    text-align: left;
}
.table_title .title_link{
    color: black;
    text-decoration: none;
}
.title_link:hover {
    font-weight: bold;
}
.thead {
    display: table-header-group;
    vertical-align: middle;
}
.th {
    display: table-cell;
    vertical-align: inherit;
}
.tr {
    display: table-row;
}
.colgroup {
    display: table-column-group;
}
.create_btn {
    text-align: right;
}
.create_btn > button > a {
    text-decoration : none;
}
</style>

{% endblock %}

