{% extends 'base.html' %}

{% block content %}
<div class="profile">
  <div>
    <h1>{{ user.username }} 님의 프로필</h1>
    <hr>
  </div>
    <div class="contatiner">
      <div class="row">
        <div class="col-2">
          <div class="profile_box">
            <p>평가한 영화</p>
            <p class="box_letter">{{ user_ratings|length }}</p>
          </div>
        </div>
        <div class="col-2">
          <div class="profile_box">
            <p>작성한 글</p>
            <p class="box_letter">{{ user.article_set.all|length }}</p>
          </div>
        </div>
        <div class="col-2">
          <div class="profile_box">
            <p>작성한 댓글</p>
            <p class="box_letter">{{ user.comment_set.all|length }}</p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="recommend-box">
      <div class="recommend-box-title">
        <h3>추천영화</h3>
        <span>{{ user.username }}님이 가장 선호하는 장르는 <strong>{{ most_liked_genre }}</strong>입니다.</span>
      </div>
      <div id="carouselExampleIndicators" class="carousel slide movie-slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          {% for movie_list in recommended_list %}
          <div class="carousel-item row recommend-box-movie">
            {% for movie in movie_list %}
            <a href="{% url 'movies:detail' movie.pk %}">
              <img src="https://image.tmdb.org/t/p/original{{movie.poster_path}}" class="col poster" alt="...">
            </a>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <hr>
    <div>
      <div class="liked-box">
        <h3>찜한 영화</h3>

      </div>
    </div>
</div>
<script>
  $(document).ready(function () {
    $('#carouselExampleIndicators').find('.carousel-item').first().addClass('active');
  });
</script>

<style>
  .profile{
    border: black solid 1px;
    border-radius: 5px;
    padding: 15px;
  }
  .recommend-box{
    justify-content: center;
    text-align: center;
  }
  .recommend-box-title{
    text-align: left;
    margin-bottom: 10px;
  }
  .movie-slide{
    justify-content: center;
    text-align: center;
  }
  .recommend-box-movie{
    margin: 0 auto;
  }
  .recommend-box-movie a{
    text-decoration: none;
  }
  .poster{
    width: 190px;
    height: 250px;
  }
  .indicator{
    width: 50px;
  }
  .profile_box {
    border-radius: 25px;
    background: white;
    padding: 20px;
    width: 150px;
    height: 150px;
    text-align: center;
  }
  .box_letter {
    font-size: 50px;
  }
</style>
{% endblock %}